<!-- Button to open the offcanvas sidebar -->
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
  <i class="bi bi-list"></i>
</button>

<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start text-bg-dark" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title text-center">Sistema Supervisório</h1>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>
      <a href="{% url 'base:index' %}" class="nav-link px-0 align-middle">
        <i class="bi bi-house-door fs-4"></i>
        <span class="ms-1">Home</span>
      </a>
    </p>
    <p>
      <a href="{% url 'tanks:tank' %}" class="nav-link px-0 align-middle">
        <i class="bi bi-droplet-half"></i>
        <span class="ms-1">Reservatório</span>
      </a>
    </p>
    <p>
      <form action="{% url 'logout' %}" method="post" id="logout-form" class="nav-link px-0 align-middle">
        {% csrf_token %}
        <button type="submit" class="btn btn-link text-decoration-none text-reset nav-link px-0 align-middle">
          <i class="bi bi-box-arrow-right fs-4 align-middle"></i>
          <span class="ms-1 align-middle">Sair</span>
        </button>
      </form>
    </p>          
  </div>
</div>

