{% extends "base.html" %}

{% block content %}

<div class="row" >
    <div class="col-sm-3">
        <div class="card bg-secondary text-center">
          <div class="card-body">
            <h5 class="card-title">Reservatório de casa</h5>
                <div id="liquid"></div>
                {% comment %} <button type="button" class="btn btn-success" onclick="enviarComando('1')">Ligado</button>
                <button type="button" class="btn btn-danger" onclick="enviarComando('0')">Desligado</button> {% endcomment %}
          </div>  
        </div>  
    </div>
    <div class="col-sm-9">
        <div class="card bg-secondary text-center">
          <div class="card-body">
            <h5 class="card-title">Histórico</h5>
                <div id="line"></div>
          </div>  
        </div>  
    </div>    
</div>

{%endblock%}